@font-face {
    font-family: HelveticaNeueLTRegular;
    src: url("../fonts/Helvetica Neue LT Regular.ttf");
}

@font-face {
    font-family: HelveticaNeueLTBold;
    src: url("../fonts/Helvetica Neue LT Bold Ar.ttf");
}

@font-face {
    font-family: HelveticaNeueLT;
    src: url("../fonts/alfont_com_هلفيتيكا-عربي-.ttf");
}